{% load wagtailcore_tags %}
<li class="block py-3 px-4 space-y-1 border shadow-sm cursor-pointer hover:shadow bg-sky-100 border-zinc-800 shadow-fuchsia-200 group hover:border-zinc-500">
    <a id="post-{{ post.id }}"
       href="{% pageurl post %}"
       hx-get="{% pageurl post %}"
       hx-target="#main-content"
       hx-swap="outerHTML swap:300ms"
       hx-push-url="{% pageurl post %}"
       class="block focus:ring-2 focus:outline-none focus:ring-zinc-800">
        <h3 class="text-2xl font-bold text-zinc-800 font-cardo">{{ post.title }}</h3>
        <p class="text-sm italic text-zinc-800">
            Posted on:
            <time datetime="{{ post.date }}">{{ post.specific.date }}</time>
        </p>
    </a>
    <p class="text-zinc-800">
        {{ post.specific.intro }}
        <a href="{% pageurl post %}"
           class="px-2 underline focus:ring-2 focus:outline-none hover:underline-offset-2 focus:ring-zinc-800"
           hx-get="{% pageurl post %}"
           hx-target="#main-content"
           hx-swap="outerHTML swap:300ms"
           hx-push-url="{% pageurl post %}">Keep Reading…</a>
    </p>
    {% with tags=post.specific.tags.all %}
        {% if tags %}
            <div class="flex text-zinc-800">
                <span class="mr-2">Posted in:</span>
                <ul class="inline list-none">
                    {% for tag in tags %}
                        <li class="inline">
                            <a href="{% slugurl 'tags' %}?tag={{ tag }}"
                               hx-get="{% slugurl 'tags' %}?tag={{ tag }}"
                               hx-target="#main-content"
                               hx-swap="outerHTML swap:300ms"
                               hx-push-url="{% slugurl 'tags' %}?tag={{ tag }}"
                               class="px-0.5 underline focus:ring-2 focus:outline-none hover:underline-offset-2 focus:ring-zinc-800">{{ tag }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
</li>
