{% load wagtailcore_tags %}
<li class="block border bg-sky-100 cursor-pointer hover:border-zinc-500 border-zinc-800 shadow-fuchsia-200 shadow-sm hover:shadow group px-4 py-3 space-y-1">
    <a id="post-{{ post.id }}"
       href="{% pageurl post %}"
       hx-get="{% pageurl post %}"
       hx-target="#main-content"
       hx-swap="outerHTML swap:300ms"
       hx-push-url="{% pageurl post %}"
       class="focus:outline-none focus:ring-2 focus:ring-zinc-800 block">
        <h3 class="text-2xl text-zinc-800 font-bold font-cardo">{{ post.title }}</h3>
        <p class="text-zinc-800 italic text-sm">
            Posted on:
            <time datetime="{{ post.date }}">{{ post.specific.date }}</time>
        </p>
    </a>
    <p class="text-zinc-800">
        {{ post.specific.intro }}
        <a href="{% pageurl post %}"
           class="underline hover:underline-offset-2 focus:outline-none focus:ring-2 focus:ring-zinc-800 px-2"
           hx-get="{% pageurl post %}"
           hx-target="#main-content"
           hx-swap="outerHTML swap:300ms"
           hx-push-url="{% pageurl post %}">Keep Reading…</a>
    </p>
    {% with tags=post.specific.tags.all %}
        {% if tags %}
            <div class="text-zinc-800 flex">
                <span class="mr-2">Posted in:</span>
                <ul class="list-none inline">
                    {% for tag in tags %}
                        <li class="inline">
                            <a href="{% slugurl 'tags' %}?tag={{ tag }}"
                               hx-get="{% slugurl 'tags' %}?tag={{ tag }}"
                               hx-target="#main-content"
                               hx-swap="outerHTML swap:300ms"
                               hx-push-url="{% slugurl 'tags' %}?tag={{ tag }}"
                               class="underline hover:underline-offset-2 focus:outline-none focus:ring-2 focus:ring-zinc-800 px-0.5">{{ tag }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
</li>
