{% load static wagtailcore_tags %}
<main id="main-content" class="container flex-1 px-4 mx-auto max-w-5xl">
    <section id="welcome" class="py-2 px-4 my-6">
        <div class="flex">
            <h2 class="pr-3 mb-2 text-3xl font-bold font-cardo text-zinc-800">{{ page.intro_title }}</h2>
        </div>
        <p class="mx-2 text-lg">{{ page.intro|richtext }}</p>
    </section>
    <section id="posts">
        <header class="flex">
            <h2 class="pr-6 pl-2 text-4xl font-bold border-b-2 text-zinc-800 border-zinc-800 font-cardo">Recent Posts</h2>
        </header>
        <ul id="post-list"
            class="grid grid-cols-1 gap-4 my-2 list-none sm:grid-cols-2">
            {% for post in recent_posts %}
                {% include "blog/components/post_card.html" %}
            {% endfor %}
        </ul>
        <div class="flex justify-center my-4 w-full">
            <a href="{% slugurl 'blog' %}"
               hx-get="{% slugurl 'blog' %}"
               hx-target="#main-content"
               hx-swap="outerHTML swap:300ms"
               hx-push-url="{% slugurl 'blog' %}"
               class="block py-2 px-4 text-xl font-medium border-2 shadow-sm hover:shadow focus:ring-2 focus:ring-offset-1 focus:ring-offset-white focus:outline-none bg-sky-100 border-zinc-800 text-zinc-800 hover:border-zinc-500 hover:text-zinc-500 focus:ring-zinc-800">
                View More Posts
            </a>
        </div>
    </section>
    <section id="practice-tools">
        <header class="flex">
            <h2 class="pr-6 pl-2 text-4xl font-bold border-b-2 text-zinc-800 border-zinc-800 font-cardo">Practice Tools</h2>
        </header>
        <ul id="tool-list"
            class="grid grid-cols-1 gap-2 my-2 list-none sm:grid-cols-2">
            {% for tool in featured_tools %}
                {% include "home/components/tool_card.html" %}
            {% endfor %}
        </ul>
        <!-- TODO: tweak hover effect, maybe add focus effect -->
        <div class="flex justify-center my-4 w-full">
            <a href="{% slugurl 'practice-tools' %}"
               hx-get="{% slugurl 'practice-tools' %}"
               hx-target="#main-content"
               hx-swap="outerHTML swap:300ms"
               hx-push-url="{% slugurl 'practice-tools' %}"
               class="block py-2 px-4 text-xl font-medium border-2 shadow-sm hover:shadow focus:ring-2 focus:ring-offset-1 focus:ring-offset-white focus:outline-none bg-sky-100 border-zinc-800 text-zinc-800 hover:border-zinc-500 hover:text-zinc-500 focus:ring-zinc-800">
                View More Tools
            </a>
        </div>
    </section>
</main>
