{% load wagtailcore_tags customfilters %}
<main id="main-content"
      class="container max-w-5xl mx-auto px-4 my-4 flex-1">
    <section id="tools">
        {% if q %}
            <a href="/practice-tools"
               hx-get="/practice-tools"
               hx-target="#main-content"
               hx-swap="outerHTML swap:300ms"
               hx-push-url="/practice-tools"
               class="my-2 text-xl text-[#ad40b5] hover:text-[#0f1020] underline">← Back to All Practice Tools</a>
        {% endif %}
        <header class="flex">
            <h2 class="text-4xl text-[#0f1020] border-b-2 border-[#0f1020] font-bold font-cardo pl-2 pr-6">Practice Tools</h2>
        </header>
        <!-- TODO: htmx-ifiy this search -->
        <form action=""
              method="get"
              class="flex w-full items-center gap-4 my-4"
              hx-get="{% slugurl 'practice-tools' %}"
              hx-target="#main-content"
              hx-swap="outerHTML swap:300ms"
              hx-push-url="true"
              hx-trigger="submit">
            <label for="q" class="block flex-0 font-bold font-cardo text-xl">Search:</label>
            <input type="text"
                   name="q"
                   placeholder="Search…"
                   value="{{ q }}"
                   class="block flex-1 border-2 border-[#586F7C] px-2 py-1 font-hind focus:border-[#0f1020] focus:shadow-lg focus:outline-none" />
            <button type="submit"
                    class="block flex-0 bg-emerald-300 pt-1 border-2 border-emerald-700 text-emerald-900 text-lg px-4 h-full font-medium font-hind hover:bg-emerald-100 hover:border-emerald-500 hover:text-emerald-500 focus:ring-2 focus:ring-offset-2 focus:ring-black focus:outline-none hover:shadow-lg">
                Search
            </button>
        </form>
        {% if q %}
            <div class="my-4">
                <h3 class="inline my-4 text-2xl text-[#0f1020] font-cardo pr-1">Results for:</h3>
                <em class="italic inline text-2xl">{{ q }}</em>
            </div>
        {% endif %}
        <ul id="tool-list"
            class="list-none grid grid-cols-1 sm:grid-cols-2 gap-2 my-2">
            {% for tool in page_obj %}
                <li class="block border cursor-pointer bg-[#eff8fb] hover:border-[#586F7C] border-[#0f1020] shadow-[#e6c0e9] hover:shadow-[#e6c0e9] shadow-sm hover:shadow group px-4 py-3 space-y-1">
                    <a href="{% pageurl tool %}"
                       hx-get="{% pageurl tool %}"
                       hx-target="#main-content"
                       hx-swap="outerHTML swap:300ms"
                       hx-push-url="{% pageurl tool %}">
                        <h3 class="text-2xl text-[#0f1020] font-bold font-cardo">{{ tool.title }}</h3>
                    </a>
                    <p class="text-[#0f1020]">
                        {{ tool.specific.short_description|richtext }}
                        <a href="{% pageurl tool %}"
                           hx-get="{% pageurl tool %}"
                           hx-target="#main-content"
                           hx-swap="outerHTML swap:300ms"
                           hx-push-url="{% pageurl tool %}"
                           class="underline hover:underline-offset-2">Learn More…</a>
                    </p>
                    {% with tags=tool.specific.tags.all %}
                        {% if tags %}
                            <div class="text-[#0f1020] flex">
                                <span class="mr-2">Tags:</span>
                                <ul class="list-none inline space-x-1">
                                    {% for tag in tags %}
                                        <li class="inline">
                                            <a href="{% slugurl 'tooltags' %}?tag={{ tag }}"
                                               hx-get="{% slugurl 'tooltags' %}?tag={{ tag }}"
                                               hx-target="#main-content"
                                               hx-swap="outerHTML swap:300ms"
                                               hx-push-url="{% slugurl 'tooltags' %}?tag={{ tag }}"
                                               class="underline hover:underline-offset-2">{{ tag }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endwith %}
                </li>
            {% endfor %}
        </ul>
    </section>
    {% pagination_links %}
</main>
