{% load wagtailcore_tags %}
<main id="main-content"
      class="container max-w-5xl mx-auto px-4 my-4 flex-1">
    <a href="{{ page.get_parent.url }}"
       hx-get="{{ page.get_parent.url }}"
       hx-target="#main-content"
       hx-swap="outerHTML swap:300ms"
       hx-push-url="{{ page.get_parent.url }}"
       class="mt-2 text-xl text-fuchsia-700 hover:text-zinc-800 underline hover:underline-offset-2 focus:outline-none focus:ring-2 focus:ring-fuchsia-700 px-0.5">← Back to Tools</a>
    <header class="my-2">
        <h2 class="font-cardo text-4xl font-bold text-zinc-800">{{ page.title }}</h2>
        <p class="italic text-zinc-800">{{ page.date }}</p>
        {% with tags=page.tags.all %}
            {% if tags %}
                <div class="text-zinc-800 flex">
                    <span class="mr-2">Posted in:</span>
                    <ul class="list-none inline space-x-1">
                        {% for tag in tags %}
                            <li class="inline">
                                <a href="{% slugurl 'tags' %}?tag={{ tag }}"
                                   hx-get="{% slugurl 'tags' %}?tag={{ tag }}"
                                   hx-target="#main-content"
                                   hx-swap="outerHTML swap:300ms"
                                   hx-push-url="{% slugurl 'tags' %}?tag={{ tag }}"
                                   class="underline hover:underline-offset-2">{{ tag }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        <div class="text-lg">{{ page.short_description|richtext }}</div>
        <div class="flex my-2">
            <a class="text-2xl block border-2 py-1 px-2 font-bold bg-sky-100 hover:text-zinc-500 border-zinc-800 text-zinc-800 shadow-sm hover:shadow hover:border-zinc-500 text-black"
               href="{{ page.location }}"
               target="_blank"
               rel="noopener noreferrer">Try It Out</a>
        </div>
    </header>
    {# TODO: add demo video or screen shots or both #}
    <div class="prose prose-neutral lg:prose-md">{{ page.long_description|richtext }}</div>
</main>
