{% load static wagtailcore_tags %}
<main id="main-content" class="container max-w-5xl mx-auto px-4 flex-1">
    <div class="flex">
        <h2 class="font-cardo text-3xl text-[#0f1020] pl-1 pr-3 font-bold mb-2">Thank You!</h2>
    </div>
    <p class="text-lg mx-2">Thanks for reaching out to me, I’ll get back to you as soon as I can!</p>
    <a href="/"
       hx-get="/"
       hx-target="#main-content"
       hx-swap="outerHTML swap:300ms"
       hx-push-url="/"
       class="mt-8 text-xl text-[#ad40b5] hover:text-[#0f1020] underline mx-2">← Back Home</a>
</main>
