{% with disabled_class="border-neutral-100 bg-neutral-100 pointer-events-none text-neutral-400" enabled_class="bg-[#dff0f7] hover:text-[#586F7C] border-[#0f1020] text-[#0f10200] shadow-sm hover:shadow font-medium hover:border-[#586F7C] text-black focus:ring-black focus:ring-offset-2 focus:ring-offset-white focus:ring-2" %}
    <div class="w-full flex justify-between mt-4">
        <a class="block border-2 {% if has_previous %} {{ enabled_class }} {% else %} {{ disabled_class }} {% endif %} py-1 px-2 font-medium focus:outline-none"
           {% if has_previous %} href="{{ prev_link }}" hx-get="{{ prev_link }}" hx-push-url="{{ prev_link }}" hx-swap="outerHTML swap:300ms" hx-target="#main-content" {% else %} href="#" disabled tabindex="-1" {% endif %}>Previous Page</a>
        <span class="page-current">Page {{ page_number }} of {{ page_count }}</span>
        <a class="block border-2 {% if has_next %} {{ enabled_class }} {% else %} {{ disabled_class }} {% endif %} py-1 px-2 font-medium focus:outline-none"
           {% if has_next %} href="{{ next_link }}" hx-get="{{ next_link }}" hx-push-url="{{ next_link }}" hx-swap="outerHTML swap:300ms" hx-target="#main-content" {% else %} href="#" disabled tabindex="-1" {% endif %}>Next Page</a>
    </div>
{% endwith %}
