{% extends "base.html" %}
{% load wagtailcore_tags customfilters %}
{% block og_image %}
    <meta property="og:image"
          content="https://og.rickhenry.dev/blog/pages/My%20Blog/opengraph-image" />
    <meta name="twitter:image"
          content="https://og.rickhenry.dev/blog/pages/My%20Blog/opengraph-image" />
    <meta property="og:type" content="website" />
{% endblock %}
{% block title %}
    {{ page.title }}
{% endblock title %}
{% block content %}
    {% include "blog/partials/_blog_index_page.html" %}
{% endblock content %}
