@tailwind base;
@tailwind components;
@tailwind utilities;

/* hind-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/hind-v16-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* hind-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/hind-v16-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* hind-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/hind-v16-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* hind-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hind";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/hind-v16-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cardo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cardo-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cardo-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cardo-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.font-hind {
  font-family: "Hind", sans-serif;
}

.font-cardo {
  font-family: "Cardo", serif;
}

* {
  font-family: "Hind", sans-serif;
}

.prose .block-heading {
  font-family: "Cardo", serif;
  @apply text-2xl font-bold -mb-2;
}

#main-content.htmx-swapping {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

#main-content.htmx-added {
  opacity: 0;
}

#main-content {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.scale-in {
  @apply opacity-0 duration-300 ease-out translate-y-4;
}

.scale-out {
  @apply ease-in duration-200 opacity-100 translate-y-0;
}

.htmx-added .scale-in {
  @apply opacity-100 translate-y-0;
}

.scale-out.htmx-swapping {
  @apply opacity-0 translate-y-4;
}

@media screen(sm) {
  .scale-in {
    @apply opacity-0 duration-300 ease-out translate-y-0 scale-95;
  }

  .scale-out {
    @apply ease-in duration-200 opacity-100 translate-y-0 scale-100;
  }

  .htmx-added .scale-in {
    @apply opacity-100 translate-y-0 scale-100;
  }

  .scale-out.htmx-swapping {
    @apply opacity-0 translate-y-0 scale-95;
  }
}
