{% load wagtailcore_tags customfilters %}
<main id="main-content"
      class="container flex-1 px-4 my-4 mx-auto max-w-5xl">
    <section id="posts">
        {% if q %}
            <a href="/blog"
               hx-get="/blog"
               hx-target="#main-content"
               hx-swap="outerHTML swap:300ms"
               hx-push-url="/blog"
               class="my-2 text-xl text-fuchsia-700 underline hover:text-zinc-800">← Back to All Posts</a>
        {% endif %}
        <header class="flex">
            <h2 class="pr-6 pl-2 text-4xl font-bold border-b-2 text-zinc-800 border-zinc-800 font-cardo">Blog Posts</h2>
        </header>
        <form action=""
              method="get"
              class="flex gap-4 items-center my-4 w-full"
              hx-get="{% slugurl 'blog' %}"
              hx-target="#main-content"
              hx-swap="outerHTML swap:300ms"
              hx-push-url="true"
              hx-trigger="submit">
            <label for="q" class="block text-xl font-bold flex-0 font-cardo">Search:</label>
            <input type="text"
                   name="q"
                   placeholder="Search…"
                   value="{{ q }}"
                   class="block flex-1 py-1 px-2 border-2 focus:shadow-lg focus:outline-none border-zinc-500 font-hind focus:border-zinc-800" />
            <button type="submit"
                    class="block px-4 pt-1 h-full text-lg font-medium text-emerald-900 bg-emerald-300 border-2 border-emerald-700 hover:text-emerald-500 hover:bg-emerald-100 hover:border-emerald-500 hover:shadow-lg focus:ring-2 focus:ring-black focus:ring-offset-2 focus:outline-none flex-0 font-hind">
                Search
            </button>
        </form>
        {% if q %}
            <div class="my-4">
                <h3 class="inline pr-1 my-4 text-2xl text-zinc-800 font-cardo">Results for:</h3>
                <em class="inline text-2xl italic">{{ q }}</em>
            </div>
        {% endif %}
        <ul id="post-list"
            class="grid grid-cols-1 gap-2 my-2 list-none sm:grid-cols-2">
            {% for post in page_obj %}
                {% include "blog/components/post_card.html" %}
            {% endfor %}
        </ul>
    </section>
    {% pagination_links %}
</main>
